<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jQuery.js"></script>
    <title>My cats</title>
</head>

<body>
    <h1>My cats' name</h1>
    <% for (let cat of cats){ %>
        <li>
            <%= cat %>
        </li>
        <%}%>
</body>

</html>