<%- include(`partial/header`) %>
<title>Can't found <%=subreddit%></title>
</head>
<%- include (`partial/navbar.ejs`) %>

<body>
    <h1>Can not found <%=subreddit%> subreddit in the database. </h1>
</body>

</html>