<%- include(`partial/header`) %>
<title>Home</title>
</head>
<%- include (`partial/navbar.ejs`) %>

<body>
    <h1>Welcome to HomePage
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur magni consequatur ex architecto
        officia nihil possimus expedita quod tempora error, neque suscipit quaerat sequi libero aperiam labore animi
        aliquid.</p>
</body>

</html>