<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>
    <h1>Create a new comment</h1>
    <form action="/comments" method="post">
        <div>
            <label for="username">Please enter your name</label>
            <input id="username" placeholder="username" name="username">
        </div>
        <div>
            <label for="comment" method="post">Please enter your name</label>
            <br>
            <textarea id="comment" placeholder="type something" name="comment" rows="10" cols="20"></textarea>
        </div>
        <button>Submit</button>
        <br>
        <a href="/comments">Back to comment board</a>
    </form>
</body>

</html>